<launch>
  <param name="/use_sim_time" value="true"/>

  <include file="/data/private/ros/socspioneer/keyboard_teleop.launch" />
  
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="/data/private/ros/socspioneer/lgfloor.yaml" />

  <!-- Run stage -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="/data/private/ros/socspioneer/lgfloor.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>
